<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jtors.letsquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginSignUpPage" />
        <activity android:name=".UserAccountPage" />
        <activity android:name=".ChooseTopic" />
        <activity android:name=".UserCreatedTopics" />
        <activity android:name=".QuizPage"></activity>
        <activity android:name=".VideoGames"></activity>
        <activity android:name=".QuizPageQuestion2"></activity>
        <activity android:name=".DCQuizPage"></activity>
        <activity android:name=".QuizPageQuestion3"></activity>
        <activity android:name=".DCQuizPageQuestion2"></activity>
        <activity android:name=".DCQuizPageQuestion3"></activity>
        <activity android:name=".StarWarsQuizPage"></activity>
        <activity android:name=".StarWarsQuizPageQuestion2"></activity>
        <activity android:name=".StarWarsQuizPageQuestion3"></activity>
        <activity android:name=".VideoGamesQuizPageQuestion2"></activity>
        <activity android:name=".VideoGamesQuizPageQuestion3"></activity>


    </application>

</manifest>