<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jtors.letsquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginSignUpPage" />
        <activity android:name=".UserAccountPage" />
        <activity android:name=".ChooseTopic" />
        <activity android:name=".UserCreatedTopics" />
        <activity android:name=".QuizPage" />
        <activity android:name=".VideoGames" />
        <activity android:name=".QuizPageQuestion2" />
        <activity android:name=".DCQuizPage" />
        <activity android:name=".QuizPageQuestion3" />
        <activity android:name=".DCQuizPageQuestion2" />
        <activity android:name=".DCQuizPageQuestion3" />
        <activity android:name=".StarWarsQuizPage" />
        <activity android:name=".StarWarsQuizPageQuestion2" />
        <activity android:name=".StarWarsQuizPageQuestion3" />
        <activity android:name=".VideoGamesQuizPageQuestion2" />
        <activity android:name=".VideoGamesQuizPageQuestion3" />
        <activity android:name=".UserTopic1" />
        <activity android:name=".UserTopic1Question2" />
        <activity android:name=".UserTopic1Question3" />
        <activity android:name=".UserTopic2"/>
        <activity android:name=".UserTopic2Question2"/>
        <activity android:name=".UserTopic2Question3"/>
        <activity android:name=".UserTopic3"/>
        <activity android:name=".UserTopic3Question2"/>
        <activity android:name=".UserTopic3Question3"/>
        <activity android:name=".UserTopic4"/>
        <activity android:name=".UserTopic4Question2"/>
        <activity android:name=".UserTopic4Question3"/>
        <activity android:name=".ChangeUsername"/>
        <activity android:name=".ChangePassword"/>


    </application>

</manifest>